[submodule "Visual-LIBWIN32-for-UEFI"]
	path = Visual-LIBWIN32-for-UEFI
	url = https://github.com/KilianKegel/Visual-LIBWIN32-for-UEFI.git
	ignore = dirty
[submodule "Visual-LIBXLSXWRITER-for-UEFI-Shell"]
	path = Visual-LIBXLSXWRITER-for-UEFI-Shell
	url = https://github.com/KilianKegel/Visual-LIBXLSXWRITER-for-UEFI-Shell.git
	ignore = dirty
[submodule "Visual-TORO-C-LIBRARY-for-UEFI"]
	path = Visual-TORO-C-LIBRARY-for-UEFI
	url = https://github.com/KilianKegel/Visual-TORO-C-LIBRARY-for-UEFI.git
	ignore = dirty
[submodule "Include"]
	path = Include
	url = https://github.com/KilianKegel/MdePkgInc.git
	ignore = dirty
